.image-div {
  width: 95%;
  height: 350px;
  /* border-radius: 21px 21px 0 0; */
  border: #d0d0d0 4px solid;
  background-repeat: no-repeat;
  background-position: center;
}

.imagen-div-1 {
  background-image: url(equipo1.jpg);
  background-size: 110%;
}

.imagen-div-2 {
  background-image: url(equipo2.jpg);
  background-size: 180%
}

.imagen-div-3 {
  background-image: url(equipo3.jpg);
}

.imagen-div-4 {
  background-image: url(equipo4.jpg);
  background-size: 100%
}

.featurette-alone.featurette-heading {
  margin-top: 0;
}


.logos-circulos {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: #777 2px solid;
  background-color: white;
}

.logos-circulos-1 {
  background-image: url(fmr_logo.png);
}

.logos-circulos-2 {
  background-image: url(robocup_logo.jpg);
}

.logos-circulos-3 {
  background-image: url(cbr_logo.png);
  background-size: 80%;
}

.logos-circulos-4 {
  background-image: url(@Home_AMIGO.jpg);
  background-size: 150%;
  background-position: left top;
}

.logos-circulos-5 {
  background-image: url(equipo1_1.jpg);
  background-size: 150%;
}

.logos-circulos-6 {
  background-image: url(donacion.JPG);
  background-size: 90%;
}

.logos-circulos-7 {
  background-image: url(sponsorship.JPG);
  background-size: 80%;
}

.logos-circulos-8 {
  background-image: url(travel.JPG);
  background-size: 80%;
}

.patrocinadores-img-div .patrocinadores-img {
  height: 500px;
  width: 500px;
  background-image: url(equipo5.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
