.nav-container {
  max-width: 850px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 1%;
  bottom: -5%;
  width: 291px;
  height: 310px;
  /* background-color: #d8d8d8; */
  /* border-radius: 21px; */
  /* -webkit-transform: rotate(30deg); */
  /* transform: rotate(19deg); */
  background-image: url(roborregos_logo.png);
  /* background-position-y: -76%; */
  background-repeat: no-repeat;
  /* background-color: unset; */
  background-size: 100%;
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-1 {
  background-image: url(roborregos_logo.png);
  /* background-position-y: -76%; */
  background-repeat: no-repeat;
  /* background-color: unset; */
  background-size: 100%;
}

.product-device-2 {
  top: 2%;
  right: auto;
  /* bottom: -25%; */
  width: 443px;
  left: 0%;
  /* background-color: #e5e5e5; */
  background-image: url(roborregos_name.png);
  /* background-position-y: -76%; */
  background-repeat: no-repeat;
  /* background-color: unset; */
  background-size: 100%;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
